img {
  max-width: 213px;
  box-shadow: 1px 4px 5px #adadad;
}

.container {
  width: 350px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-three-quarter {
  flex-basis: 75%;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

@media only screen and (min-width: 768px) {
  #photo {
    max-width: 180px;
  }

  .container {
    margin-top: 30px;
    width: 700px;
  }

  .column-three-four {
    flex-basis: 75%;
  }
}

@media only screen and (min-width: 900px) {
  #photo {
    max-width: 220px;
  }

  .container {
    margin-top: 30px;
    width: 900px;
  }
}

@media only screen and (min-width: 1280px) {
  #photo {
    max-width: 300px;
  }

  .container {
    margin-top: 30px;
    width: 1200px;
  }
}
