body {
  padding-bottom: 40px;
  background-color: #fbfbfb;
}

nav {
  background-color: #343a40;
  color: #fff;
  height: 56px;
}

nav > p {
  margin: 0;
  font-family: Cormorant, serif;
  font-size: 26px;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.603));
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.modal-container {
  height: 100px;
  transition: 0.5s;
  width: 300px;
  display: flex;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 200px;
  padding: 5px 10px;
}

.modal-width {
  width: 300px;
}

.delete-modal {
  border: 1px solid #dc3545;
  background-color: #fbfbfb;
  color: #dc3545;
  font-family: roboto, sans-serif;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.cancel-modal {
  background-color: #6c757d;
  color: white;
  font-family: roboto, sans-serif;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-title {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300px;
  color: #212529;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 70px;
  font-size: 12px;
}

.cancel-modal:hover,
.delete-modal:hover {
  transform: scale(1.1);
}

.fa-arrow-left {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.fa-arrow-left:hover {
  transform: scale(1.1);
}

.fa-pen-square {
  background-color: #979797;
  color: white;
  border-left: 2px solid #979797;
  border-right: 2px solid #979797;
  border-radius: 3px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  top: 70px;
  right: 40px;
  transition: 0.5s;
}

.fa-pen-square:hover {
  background-color: white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: #979797;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.padding-bottom {
  padding-bottom: 70px;
}

.justify-center {
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rel {
  position: relative;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 20px;
}

/* form styling */

p.notes {
  font-family: cormorant, serif;
  color: #343a40;
  outline: none;
  margin-bottom: 40px;
  text-align: left;
}

p.week {
  font-family: "Cormorant Unicase", serif;
  color: #343a40;
  font-size: 23px;
  border-bottom: 1.5px solid #343a40;
  margin-bottom: 13px;
}

p.date {
  margin-top: 5px;
  font-family: Cormorant, serif;
  font-weight: bold;
  color: #343a40;
  font-size: 28px;
}

.subtext {
  font-family: "Cormorant Upright", serif;
  color: #343a40;
  font-size: 14px;
  line-height: 8px;
  position: relative;
}

.subtext-form {
  top: 20px;
  left: 25px;
}

.delete {
  border: 1px solid #dc3545;
  background-color: #fbfbfb;
  color: #dc3545;
  font-family: roboto, sans-serif;
  width: 50px;
  height: 30px;
  border-radius: 4px;
  padding-left: 5px;
  position: absolute;
  top: 56px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.delete:hover {
  transform: scale(1.05);
}

.submit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b0b0b0;
  box-shadow: 2px 2px 4px #b0b0b0;
  transition: 0.5s;
  position: absolute;
  right: 0;
  top: 50px;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
}

.photo-input,
.text-area {
  font-family: cormorant, serif;
  color: #343a40;
  outline: none;
  background-color: rgba(194, 194, 194, 0.09);
  border: 1px solid rgba(194, 194, 194, 0.5);
}

.text-area {
  height: 200px;
  width: 310px;
  resize: none;
  padding: 15px 20px;
  border-radius: 15px;
}

.photo-input {
  margin-top: 10px;
  width: 305px;
  height: 25px;
  border-radius: 8px;
  padding-left: 13px;
  margin-bottom: 0;
}

.photo-input::placeholder {
  text-align: center;
}

/* calendar styling */

#weekday.row {
  display: none;
}

p.calendar-date {
  font-family: "Cormorant Unicase", serif;
  color: #343a40;
  font-size: 23px;
  margin-bottom: 13px;
}

p.day {
  font-family: Cormorant, serif;
  color: #343a40;
  font-size: 15px;
  text-align: center;
  width: 40px;
  margin: 1px 3px;
}

.day-underline {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.hidden-cal {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  margin: 3px;
  background-color: #fbfbfb;
}

p.cal {
  width: 40px;
  height: 40px;
  border: 1px solid #dbdbdb;
  padding: 0 3px;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  margin: 3px;
  font-family: "Cormorant Unicase", serif;
  font-size: 12px;
  color: black;
  background-color: white;
  cursor: pointer;
}

p.cal > span {
  display: none;
}

p.cal:hover {
  border: 1px solid #6c6c6c;
  transform: scale(1.1);
}

.list-title {
  font-family: cormorant, serif;
  color: black;
  font-size: 24px;
  border-bottom: 1px solid black;
}

.feast-days {
  list-style: none;
  font-family: cormorant, serif;
  color: black;
  line-height: 24px;
  font-size: 12px;
  padding-left: 0;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: white;
  }

  #list {
    display: none;
  }

  #day {
    display: none;
  }

  #weekday.row {
    display: flex;
  }

  #calendar {
    margin: 0 60px;
  }

  .fa-pen-square {
    position: relative;
    top: 30px;
    right: 40px;
  }

  p.day {
    font-size: 15px;
    text-align: center;
    width: 70px;
    margin: 1px 3px;
  }

  .day-underline {
    border-bottom: 1px solid black;
    margin: 0 80px 20px;
  }

  p.cal {
    width: 70px;
    height: 70px;
    font-size: 13px;
    margin: 3px;
  }

  .hidden-cal {
    width: 70px;
    height: 70px;
  }

  p.cal > span {
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-start;
    height: 50px;
    text-align: center;
    color: #343a40;
  }

  .fa-arrow-left {
    left: 100px;
  }

  p.notes {
    margin-bottom: 100px;
  }

  .background-color {
    background-color: #fbfbfb;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.253);
    margin-bottom: 70px;
  }

  p.week {
    font-size: 30px;
    margin-bottom: 10px;
  }

  p.date {
    margin-top: 5px;
    font-family: Cormorant, serif;
    font-weight: bold;
    color: #343a40;
    font-size: 25px;
  }

  .subtext-entry {
    font-size: 12px;
    top: -20px;
    left: 40px;
    margin-bottom: 20px;
  }

  .subtext-form {
    font-size: 12px;
    top: -50px;
    left: 130px;
    margin-bottom: 20px;
  }

  .text-area {
    height: 120px;
    width: 450px;
  }

  .submit {
    top: 2px;
    right: -40px;
  }

  .delete {
    top: 6px;
    right: 5px;
  }

  .photo-input {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 900px) {
  #calendar {
    margin: 0 120px;
  }

  .fa-pen-square {
    position: relative;
    top: 30px;
    right: 40px;
  }

  p.day {
    width: 80px;
  }

  p.cal {
    width: 80px;
    height: 80px;
  }

  .hidden-cal {
    width: 80px;
    height: 80px;
  }

  p.cal > span {
    height: 60px;
    font-size: 10px;
  }

  .fa-arrow-left {
    left: 180px;
  }

  .submit {
    top: 2px;
    right: 0;
  }

  .delete {
    top: 8px;
    right: 50px;
  }

  .subtext-form {
    font-size: 15px;
    top: -80px;
    left: 160px;
  }

  .subtext-entry {
    font-size: 15px;
    top: -40px;
    left: 50px;
  }

  .text-area {
    height: 120px;
    width: 600px;
  }
}
